# Ignore JSON data file
*.json
*.bak

# Ignore Jupyter Notebook for work-in-progress
wip.ipynb

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
8

# Ignore virtual environment directories
.venv/
env/
venv/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
others/

static/pairs_history*

.env